*{
    font-family: Roboto,Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding:0px;
}

.heading{
    margin-top: 0px;
    padding: 20px;
    border: solid;
    border-width: 0px 0px 5px 0px;
    border-style: ridge;
}
table{
    margin-left: 20px;
}
img{
    height: 100px;
}
.heading h1{
    padding: 0px 300px;
}

nav{
    height: 2.5pc;
    width: 100%;
    background-color: rgb(10, 55, 201);
}

.comp{
    text-decoration: none;
    color: white;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 10px 50px 10px;
}
a:hover{
    font-size: 20px;
    background-color: rgb(89, 119, 216);
}
.sideheading{
    display: block;
    font-size: 15px;
    padding : 5px 5px 5px 5px;
    text-decoration: black;
    text-align: left;
}
.curr{
    font-size: 20px;
}

.banner{
    direction: rtl;
    font-size: 20px;
}
.welcome{
    line-height: 60px;
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}

.virL{
    font-weight: 900;
    color: rgb(108, 194, 97);
}
.virL2{
    color: rgb(97, 142, 194);
}

.mme{
    font-weight: 600;
    color: rgb(230, 106, 18);
}

.line{
    margin-left: 200px;
    margin-right: 200px;
    line-height: 20px;
}
.mid{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}
.pmml{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}
.pmmls{
    color: rgb(97, 142, 194);
}